.titleStyle {
  position: relative;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 0.5rem;

  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 34px;
  color: #d2d2d2;
  text-shadow: -3px 3px 3px #5e5e5e;
}

.titleStyle::before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #424242;
  bottom: 0.4rem;
  left: 50%;
  width: 30%;
  transform: translateX(-50%);
}
.titleStyle::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid #6f4849;
  bottom: 0;
  left: 50%;
  width: 15%;
  transform: translateX(-50%);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.titleAndListWrp {
  padding-top: 15px;
  background-color: rgba(36, 36, 36, 0.4);
}

.listWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
}

.itemWrapper {
  list-style: none;
  margin-bottom: 25px;
}

.linkStyle {
  text-decoration: none;
  color: #404040;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.posterWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease;
}

.posterWrapper:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.imageStyle {
  width: 300px;
  height: 420px;
}

.posterWrapper:hover .imageStyle {
  box-shadow: 0 17px 22px rgba(0, 0, 0, 0.4), 0 12px 12px rgba(0, 0, 0, 0.3);
}

.ratingStyle {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #646464;
  opacity: 0.8;

  position: absolute;
  top: 388px;
  width: 35px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.highRating {
  composes: ratingStyle;
  background-color: #c72420;
}

.filmName {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-top: 6px;
  color: #f0f0f0;
  margin-bottom: 5px;
}

.releaseDate {
  color: #9d9999;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.noPosterImage {
}
